* {
    box-sizing: border-box;
    margin: 0;
}

#navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 5vh;
    background-color: #CFCFCF;
    border-style: solid;
    border-color: black;
    border-width: 1px;


}

body {

    width: 100%;
    height: 100%;
    min-height: 100vh;

}

input {

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#topContentContainer {

    display: flex;
    flex-direction: column;



}


#WebsiteTitle {


    font-family: 'Monoton', sans-serif;
    display: inline;
    height: auto;
    width: auto;
    text-align: center;
    line-height: 28px;
    font-size: 1.5rem;


}



a:link {

    text-decoration: none;
    color: black;
    text-decoration: inherit;

}


a:visited {

    text-decoration: none;
    color: black;
    text-decoration: inherit;
}


a:hover {

    text-decoration: none;
    color: black;
    text-decoration: inherit;
}


a:active {

    text-decoration: none;

}

#articleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #CFCFCF;
    margin: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}



#footer {

    width: 100vw;
    height: 5vh;
    background-color: #CFCFCF;
    border: 10px 10px black;

}

.navbarElement {


    width: 10%;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;

}

#spacer {

    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 1vh;
}

#spacerVertical {


    width: 2rem;
    align-self: stretch;
    background-color: white;
}

img {


    height: 100%;
    width: 100%;


}

.articleItem {

    padding: 0 10px 0 10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 28px;


}

#genderContainer {
    display: flex;
    justify-content: space-around;


}

.borderBox {


    height: 25px;
    width: 25%;
    background-color: #CFCFCF;

}

span {
    display: flex;
    justify-content: center
}

.genderBox {

    height: 25px;
    width: 50px;
    background-color: #CFCFCF;
    text-align: center;
    line-height: 28px;
    font-family: 'Lato', sans-serif;

}

.productContaienr {

    display: flex;
    flex-direction: column;

}

.productItem {

    border-bottom: 1px solid black;
    padding-top: 50px;
}

#bigPortraitContainer {

    background-color: #CFCFCF;
    display: flex;
    justify-content: center;
}

#productImage {

    height: 100%;
    width: 100%;
    margin: 10px 10px 10px 10px;
}

#itemPreview {


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.previewItem {

    width: 30%;
    height: 100%;

}

#productInfoContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;

}

.productTextInfo {

    height: 10%;
    width: 100%;
    margin: 5% 25% 5% 25%;
    text-align: center;

    font-size: 1.5rem;

}

#addToCartFooter {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    bottom: 0;


}

#addToCart {

    width: 95%;
    height: 60px;
    background-color: #CFCFCF;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    margin: 0% 5% 0% 5%;
    display: inline-block;
    border: 0 none black;


}

#handlekurvWrapper {
    width: 100%;
    height: 100%;
    margin: 0 0 0 4%;
    background-color: #CFCFCF;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    border: 0 none black;
    text-align: center;

}

#handlekurvTittel {


    background-color: #CFCFCF;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

#handlekurvProductContainer {

    display: flex;
    flex-direction: column;
    margin: 0% 2% 0% 2%;


}

.handlekurvProductImage {


    width: 50%;
    height: 100%;

}


.itemTextDescription {

    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    height: 45%;

}

.handlekurvTextDescription {


    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    height: 45%;

}

ul li {

    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

#gridContainer {

    display: grid;
}

.productSampleInHandlekurv {

    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;


}



@media only screen and (min-width: 768px) {


    #productContainer {

        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        column-gap: 25px;
        row-gap: 15px;
    }

    img {


        height: 100%;
        width: 100%;
    
    
    }

    #mainContentContainer {

        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        


    }

    #rightContentBox {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        height: 45%;
        margin-right: 45%;

    }

    #leftContentBox {


        padding-left: 25%;


    }


    #handlekurvProductContainer {

        display: flex;
        justify-content: space-evenly;

    }



    .productSampleInHandlekurv {

        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 80px;


    }

    ul li {

        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
    }

    
}